/*========== Base Styles ==========*/
* {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box; 
  }

body {
  background-color:	#dddddd;
}
h1,
h2, 
h3,
p {
  text-align: center;
}

h2 {
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}


/*========== Navigation ==========*/

.main-header {
  padding-top: 2rem;

}

.student-name {
  color: #5a585d;
  font-size: 40px;
  margin: 0;  
}

.main-nav {
  text-align: center;
	display: block;
  list-style-type: none;
  padding: 1rem;
  margin: 0;
}

.main-nav li {
  text-align: center;
  font-size: 20px;
  margin: 8px auto;
  line-height: 1.8;
  padding: 10px;
  background-color: white;
 }

.main-nav a:link, a:visited, a:hover {
  color: #5a585d;
  text-decoration: none;
  text-transform: uppercase;
} 

/*========== Home  ==========*/

.home {
  padding: 0 1rem;
}

.home img {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 4px;

  
}


/*========== Portfolio ==========*/

.portfolio {
  margin: 0px;
  padding: 1rem;
  background-color: white;
}


.sample-wrapper {
  display: flex;
  flex-wrap: wrap;
 }
  
.sample {
  flex: 0 1 100%;
  max-width: 100%;
 }

.sample img {
  width: 100%;
  height: auto;
}

.sample-content {
  padding: 0 1rem;
}

/*========== Contact ==========*/

.contact {
  padding: 1rem;
}

#phone {
  font-weight: bold;
}

#email {
  font-weight: bold;
}

/*========== Footer ==========*/

.footer-nav-mobile {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
}


.footer-nav-mobile a:link, a:visited, a:hover{
  color: #5a585d;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav {
  display: none;
  font-weight: bold;
}

.footer-nav li {
  font-size: 1rem;
}

.Erica-Keller {
  font-size: 1rem;
}



/*========== Media Queries ==========*/

@media screen and (min-width:768px) {
  
  p {
    font-size: 1.3rem;
  }
  
  .student-name {
    text-align: center;
  }
  
  .main-nav{
    padding: 2rem;
  }
  
  .main-nav {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .main-nav li {
    font-size: 20px;
    margin: 1rem;
    line-height: 1.8;
    padding: 0;
    background-color: transparent;
   }
  
  .home {
    padding: 2rem;
  }
  .home p {
    text-align: left;
  }
  
  .home img {
    float: right;
    margin-left: 1rem;
  }
  
 .sample {
    flex: 0 1 50%;
    max-width: 50%;
    padding: 1rem;
  }
  
  .footer-nav-mobile {
    display: none;
  }

  .footer-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  
  .footer-nav li {
    display: inline-flex;
    margin: 10px 10px;
      
  }
  
  .footer-nav a:link, a:visited, a:hover{
    color: #5a585d;
    text-decoration: none;
}
  
  
  .footer-nav a:link, a:visited, a:hover{
  color: #5a585d;
  text-decoration: none;
  text-transform: uppercase;
}

}

@media screen and (min-width: 1024px){
  
  p {
    font-size: 1.5rem;
  } 
  
 .page-wrapper {
    padding: 2rem;
  }  
  
  .home {
    padding: 2rem 0;
  }
 
  .main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  
  .main-nav li {
    display: inline-flex;
    margin: 10px 10px;
    background-color: #dddddd;
  
  }
 
  .sample {
    flex: 0 1 33.3333%;
    max-width: 33.3333%;
   }

  
  .footer-nav-mobile {
    display: none;
  }
  
    .footer-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  
  .footer-nav li {
    display: inline-flex;
    margin: 10px 10px;
  }
  
  .footer-nav a:link, a:visited, a:hover{
    color: #5a585d;
    text-decoration: none;
  }
  


}

/* Utility classes */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
